* {
    margin: 0;
    padding: 0;
}

body {
    background: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    gap: 1.5vmin;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    gap: 1.5vmin;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    /* border: none; */
    border-radius: 1rem;
    height: 18vmin;
    width: 18vmin;
    background: #ffffc7;
    color: #d57761;
    font-size: 8vmin;
}

#reset>button {
    padding: 1rem;
    font-size: 1.25rem;
    background: #000;
    color: white;
    border-radius: 1rem;
}

#msg {
    color: #ffffc7;
    font-size: 8vmin;
    margin-bottom: 20px;
}

.msgh {
    display: none;
}
//respomsive 
@media (max-width: 768px) {
    .game {
        height: 80vmin;
        width: 80vmin;
    }

    .box {
        height: 22vmin;
        width: 22vmin;
        font-size: 10vmin;
    }

    #msg {
        font-size: 10vmin;
    }

    #reset>button {
        padding: 0.75rem;
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .container {
        height: 70vh;
        flex-direction: column;
    }

    .game {
        height: 90vmin;
        width: 90vmin;
    }

    .box {
        height: 25vmin;
        width: 25vmin;
        font-size: 12vmin;
    }

    #msg {
        font-size: 12vmin;
    }

    #reset>button {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}
